body {
    background-color: rgb(255, 0, 170);
    margin: 20px;
}

.grid {
    display: grid;
    grid-template-columns: 20fr 20fr;
    grid-template-rows: 250px 250px 250px;
    grid-column-gap: 20px;
}

h1 {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 30px;
    color: rgb(15, 14, 15);
}

h2 {
    font-family: 'Bebas Neue', sans-serif;
}

p {
    font-family: 'Bebas Neue', sans-serif;
}

img {
    max-width: 100%;
}