body {
    background-color: rgb(255, 0, 179);
    margin: 20px;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
    gap: 20px;
}

h1 {
    font-family: 'Bebas Neue', sans-serif;
    text-align: left;
    font-size: 30px;

}

h1 a {
    color: currentColor;
    text-decoration: none;
}

h2 {
    font-family: 'Bebas Neue', sans-serif;
}

p {
    font-family: 'Bebas Neue', sans-serif;
}

img {
    max-width: 100%;
}

img:hover {
    zoom: normal;

}

.div-image {
    width: 400px;
    height: 400px;
    overflow: hidden;
    justify-content: center;
}

.image-zoom {
    transition: 0, 7s;
}

.image-zoom:hover {
    transform: scaleY(1.1);
}